// 引入清除默认样式
@import 'reset.scss';
// 滚动条外观
::-webkit-scrollbar{
    width: 10px;
}
// 滚动条滑块
::-webkit-scrollbar-track{
    background-color: $base-menu-color;
}
// 滚动条滑块样式
::-webkit-slider-thumb{
    width: 10px;
    background-color: yellowgreen;
    border-radius: 10px;
}