// scss变量文件//项目提供scss全局变量
//定义项目主题颜色

$color: red;
// 左侧菜单
$menu-width:260px;
$base-menu-color:#001529;
$base-menu-min-width:45px;
// 顶部导航
$base-navbar-height:60px;
// 左侧导航logo高度
$base-menu-logo-height:50px;
// 左侧logo右侧文字大小
$base-logo-title-fontSize:20px;